<div class="list card">
	
  <a href="#" class="item item-icon-left">
    <i class="icon ion-social-twitter"></i>
    Enter wireless password
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-social-facebook"></i>
    Enter phone number
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-email"></i>
    Enter card information
  </a>
	
  <a href="#" class="item item-icon-left">
    <i class="icon ion-iphone"></i>
    {{ author.name }}
  </a>
</div>