<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{shop.name}}">
  <ion-content class="padding">
    <p>{{shop.description}}</p>
    <p>{{shop.address}}</p>
    <p>{{shop.website}}</p>
    <a href="#/tab/shops"><< volver</a>
  </ion-content>
</ion-view>
