<ion-view view-title="Comercios">
  <ion-content>
  	<ion-refresher
    	pulling-text="Suelta para refrescar..."
    	on-refresh="doRefresh()">
  	</ion-refresher>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="shop in shops" type="item-text-wrap" href="#/tab/shops/{{ shop.id }}">
        <h2>{{shop.name}}</h2>
        <p>{{shop.description}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
