<ion-view view-title="Configuración">
  <ion-content>
    <ion-list>
	    <ion-toggle  ng-model="settings.enableFriends">
	        Promociones
	    </ion-toggle>

	    <ion-toggle  ng-model="settings.enableNotify">
	        Notificaciones
	    </ion-toggle>
	    
	    <ion-toggle  ng-model="settings.enableGeoPos">
	    	Geo Poscionamiento
	    </ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>
