<ion-view view-title="Guia Comercial - Home">
  <ion-content>
    <img class="principal-logo" src="img/logo_login.png">
    <div class="authors">
      <ion-list class="no-border">
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="author in authors"  ng-click="showAlert(author)">
          <img src="{{ author.img }}">
          <h2><strong>{{ author.name }}</strong></h2>
          <p>{{ author.twitter }}</p>
        </ion-item>        
      </ion-list>
    </div>
  </ion-content>
</ion-view>
