/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/
$positive:                        #759e1a !default;
//$stable:                          #759e1a !default;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

//My custom Scss
.principal-logo{
	//padding-top: 15px;
	margin-left: auto;
    margin-right: auto;
    display: block;
}
.popup-container.pop-home-authors{
	.popup{
		width: 300px;
		.popup-head {
		    padding: 15px 10px 0px;
		}
		.popup-body{
			padding: 10px 7px;
		}
	}
	.list.card{
		margin: 0;
	}
}


